/* main{
    height: 100vh;
    background-image: url("../img/hogwarts-bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
} */

main{
    background-color: black;
}

.card{
    opacity: 0.7;
}

.card img{
    width:auto;
    height: 300px;
    object-fit: contain;
}

.card:hover{
    opacity:1;
}